In [4]:
import pandas as pd
import numpy as np

In [4]:
full=pd.merge(pd.read_csv("family_data.csv"),pd.read_csv("sample_submission.csv"))

In [65]:
np.random.seed(42)
#full['assigned_day']=pd.Series(np.random.randint(1,101,size=5000))
full['assigned_choice']=full['choice_0']
full.head()

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people,assigned_day,assigned_choice
0,0,52,38,12,82,33,75,64,76,10,28,4,52,52
1,1,26,4,82,5,11,47,38,6,66,61,4,93,26
2,2,100,54,25,12,27,82,10,89,80,33,3,15,100
3,3,2,95,1,96,32,6,40,31,9,59,2,72,2
4,4,53,1,47,93,26,3,46,16,42,39,4,61,53

In [56]:
def prefCost(people,choice=-1):
    consolation=[[0,0],[50,0],[50,9],[100,9],[200,9],[200,18],[300,18],[300,36],[400,36],[500,36],[500,36+398]]
    return (consolation[choice][0]+consolation[choice][1]*people) 

def accCost(currDay):
    segregated=full.groupby(by=['assigned_day']).sum()
    #For case no. 100, currDay=prevDay
    segregated.loc[101]=segregated.loc[100]

def fullCost(full):
    total=0
    for day in range(len(segregated)):
        total+=prefCost(full.iloc[day]['n_people'],full.iloc[day]['assigned_choice'])

In [64]:
segregated=full.groupby(by=['assigned_day']).sum()
segregated.loc[101]=segregated.loc[100]
segregated

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people,assigned_choice
assigned_day,,,,,,,,,,,,,
1,115942,2345,2441,2248,1999,2186,2499,2124,2158,2286,2241,230,5300
2,109951,2194,2100,2053,2344,2464,2255,1918,2120,2422,2278,236,5200
3,128441,2479,2114,2448,2497,2292,2503,1814,1966,2472,2506,207,5400
4,128076,2208,2189,2218,2235,2010,1800,2262,2365,2362,2343,207,5100
5,117791,1855,2217,2202,2507,2081,2219,2421,2163,2039,2037,237,5100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,108977,1963,1619,1736,2147,1985,1899,2171,2298,2191,1722,183,4600
98,149016,2169,2624,2176,2335,2656,2602,2699,2639,2388,2708,221,5900
99,142629,2646,2432,2295,2825,2462,2969,2741,2653,2818,2442,261,6300
100,129792,1982,1823,2107,2216,2011,1807,1919,2177,1808,2096,205,4800
101,129792,1982,1823,2107,2216,2011,1807,1919,2177,1808,2096,205,4800

In [67]:
a=full.groupby('assigned_day').sum()
a[(a['n_people']<125)|(a['n_people']>300)]

,family_id,choice_0,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,n_people,assigned_choice
assigned_day,,,,,,,,,,,,,
21,186306,2632,2856,2827,2731,2747,3102,3123,3026,3049,2882,310,2632
31,78553,1189,1209,1491,1260,1266,1437,1726,1404,1463,1112,117,1189

KeyError: 101